html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buffer {
    border: 2px solid black;
    border-radius: .8em;
    height: 600px;
    width: 400px;
    background-color: #6078ff;
    padding: 5px;
    border: 10px solid #6078ff;
    box-shadow: 10px 10px 10px #273c3f;
}

.display {
    border: 2px solid #273c3f;
    height: 100px;
    background-color: #bbd0d3;
    font-family: Arial, Helvetica, sans-serif;
    text-align: end;
    padding-right: 8px;
    font-size: 4.6rem;
    margin: 4px;
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1px;
    padding: 0;
}

.config {
    background-color: #A4D046;
    color: white;
    font-weight: bold;

}

.operation {
    font-weight: 40%;
    background-color: #E3B261;
}


#divide,
#subtract {
    font-size: 2.5rem;
}

button {
    height: 95px;
    width: 95px;
    margin: 1px;
    border: 2px solid black;
    border-radius: 12px;
    text-align: center;
    font-size: 2rem;
    font-weight: 70%;
    background-color: white;
}

.operation:active {
    background-color: #ffd798;
}

.config:active {
    background-color: #bfdd7e;
}

.number:active,
.decimal:active,
#result:active,
#decimal:active {
    background-color: rgb(245, 245, 245);
}


#zero {
    flex-basis: 49%;
}
